.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  margin-top: 9.7rem;
  .logo {
    width: 20.5rem;
    height: 6.1rem;
    margin-bottom: 7.5rem;
  }
  .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 6.2rem;
    text-align: center;
    letter-spacing: -2px;
    color: #090914;
    margin-bottom: 2.7rem;
  }

  .home {
    width: 30rem;
    height: auto;
    padding: 2.3rem 2.1rem;
    padding-bottom: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 2.29081px 8.39962px rgba(0, 0, 0, 0.06), 0px 7.63602px 11.454px rgba(0, 0, 0, 0.03);
    border-radius: 9.16323px;
  
    button {
      width: 100%;
    }
  }
}



.ant-space-item {
  small {
    color: red;
  }
}

.text-center {
  text-align: center !important;
}
