.login-form {
    .w-full {
        width: 100%;
    }

    .remember-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #090914 !important;
        font-size: 1.4rem;

        .forgot-link a {
            color: #090914 !important;
        }
    }

    .ant-btn {
        background-color: blue !important;
        font-weight: 600;
        color: #fff;
        text-align: center;
        display: inline-block;
        height: 4.96rem;
    }

    .ant-input {
        line-height: 4.96rem;
        font-size: 1.8rem;
        text-align: center;
    }

    .ant-checkbox-inner,
    .ant-checkbox-checked::after {
        border-radius: 50% !important;
    }

    .ant-input::placeholder {
        color: #52525B;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}