.languages {
    position: relative;
    transition: all .5s;
    width: 7.9rem;
    height: 2.9rem;

    &__trigger {
        position: absolute;
        width: 6.4rem;
        height: 2.6rem;
        padding: 4px 0 2px 13px;
        border-radius: 5px;
        color: #898989;
        
        background-color: #fff;
        overflow: hidden;
        z-index: 2;
    }

    .open {
        .languages__trigger {
            width: 8rem;
            height: 13.7rem;
            padding-bottom: 1.5rem;
            box-shadow: 4px 5px 10px 1px #d7d7d7;
        }
        .icon {
            transform: rotate(-180deg);
        }
    }

    &__btn {
        display: inline-block;
        width: 100%;
        border: 0;
        font-size: 1.6rem;
        font-weight: 500 !important;
        background-color: transparent;
        outline: none;
        color: inherit;
        font-weight: inherit;
        display: flex;
        align-items: center;
        font-family: 'Inter'!important;
        .icon {
            height: 2rem;
        }
        &--1 {
            gap: 5px;
        }
        &--2 {
            color: #474747;
            font-size: 1.4rem;
        }
    }

    &__buttons {
        margin-top: 1.3rem;
    }

    &__buttons > *:not(:last-child) {
        margin-bottom: 1.7rem;
      }
}